/* ====== BASE ====== */
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
}

/* ====== HEADER ====== */
.page-header {
    padding: 24px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-accent {
    color: #2e2f42;
}

.page-menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu-link {
    color: #2e2f42;
    font-weight: 500;
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.contacts-link {
    color: #434455;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ====== HERO ====== */
.hero {
    background-color: #2e2f42;
    text-align: center;
    color: #ffffff;
    padding: 188px 0;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.hero-button:hover {
    background-color: #404bbf;
}

/* ====== BENEFITS ====== */
.benefits-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.title-benefits {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* ====== TEAM ====== */
.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
}

.card-info {
    padding: 32px 0;
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
}

.team-role {
    text-align: center;
    color: #434455;
}

/* ====== PORTFOLIO ====== */
.portfolio-section {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-title {
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.project-text {
    color: #434455;
    font-size: 16px;
}

/* ====== FOOTER ====== */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
    color: #f4f4fd;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    color: #f4f4fd;
}