body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-accent {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.hero {
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.hero-button {
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}



.page-menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
    

.menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-title {
    font-size: 56px;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.page-menu a:hover,
.page-menu a:focus,
address a:hover,
address a:focus {
    color: #404bbf;
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #404bbf;
    color: #ffffff;
}
  
.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-section {
    background-color: #f4f4fd;
}
    
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
    
.team-list {
    list-style: none;
    justify-content: center;
    margin: 0;
}
    
.team-item {
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
}
    
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 16px 0 8px 0;
}
    
.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.portfolio-section {
    background-color: #f4f4fd;
}
    
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-benefits {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
    
.portfolio-list {
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
    
        
.portfolio-item {
    background-color: #ffffff;
    text-align: left;
    overflow: hidden;
}
        
.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 16px 0 8px 16px;
}
    
    
.project-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0 0 16px 16px;
}

:root {
    --footer-text-color: #f4f4fd;
}
        
.page-footer {
    background-color: #2e2f42;
    text-align: left;
}
        
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-span {
    color: #f4f4fd;
}
    
.footer-text {
    line-height: 1.5;
    color: var(--footer-text-color);
    letter-spacing: 0.02em;
    margin-top: 16px;
}
